@use "variables";

@mixin more-info-1 {
  background-color: variables.$body-background;
  color: rgb(55, 55, 55);
  cursor: pointer;
  padding: 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  text-decoration: underline;
}

@mixin content-1 {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: variables.$body-background;
  max-width: 250px;
  position: absolute;
  border: 1px solid;
  border-radius: 3px;
  font-size: 14px;
}
@mixin more-info-2 {
  background-color: variables.$body-background;
  color: rgb(55, 55, 55);
  cursor: pointer;
  padding: 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  text-decoration: underline;
}

@mixin content-2 {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: variables.$body-background;
  max-width: 250px;
  position: absolute;
  border: 1px solid;
  border-radius: 3px;
  font-size: 14px;
}
@mixin more-info-3 {
  background-color: variables.$body-background;
  color: rgb(55, 55, 55);
  cursor: pointer;
  padding: 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  text-decoration: underline;
}

@mixin content-3 {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: variables.$body-background;
  max-width: 250px;
  position: absolute;
  border: 1px solid;
  border-radius: 3px;
  font-size: 14px;
}
@mixin more-info-4 {
  background-color: variables.$body-background;
  color: rgb(55, 55, 55);
  cursor: pointer;
  padding: 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  text-decoration: underline;
}

@mixin content-4 {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: variables.$body-background;
  max-width: 250px;
  position: absolute;
  border: 1px solid;
  border-radius: 3px;
  font-size: 14px;
}
@mixin more-info-5 {
  background-color: variables.$body-background;
  color: rgb(55, 55, 55);
  cursor: pointer;
  padding: 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  text-decoration: underline;
}

@mixin content-5 {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: variables.$body-background;
  max-width: 250px;
  position: absolute;
  border: 1px solid;
  border-radius: 3px;
  font-size: 14px;
}
@mixin more-info-6 {
  background-color: variables.$body-background;
  color: rgb(55, 55, 55);
  cursor: pointer;
  padding: 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  text-decoration: underline;
}

@mixin content-6 {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: variables.$body-background;
  max-width: 250px;
  position: absolute;
  border: 1px solid;
  border-radius: 3px;
  font-size: 14px;
}
@mixin more-info-7 {
  background-color: variables.$body-background;
  color: rgb(55, 55, 55);
  cursor: pointer;
  padding: 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  text-decoration: underline;
}

@mixin content-7 {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: variables.$body-background;
  max-width: 250px;
  position: absolute;
  border: 1px solid;
  border-radius: 3px;
  font-size: 14px;
}
@mixin more-info-8 {
  background-color: variables.$body-background;
  color: rgb(55, 55, 55);
  cursor: pointer;
  padding: 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  text-decoration: underline;
}

@mixin content-8 {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: variables.$body-background;
  max-width: 250px;
  position: absolute;
  border: 1px solid;
  border-radius: 3px;
  font-size: 14px;
}
@mixin more-info-9 {
  background-color: variables.$body-background;
  color: rgb(55, 55, 55);
  cursor: pointer;
  padding: 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  text-decoration: underline;
}

@mixin content-9 {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: variables.$body-background;
  max-width: 250px;
  position: absolute;
  border: 1px solid;
  border-radius: 3px;
  font-size: 14px;
}
@mixin more-info-10 {
  background-color: variables.$body-background;
  color: rgb(55, 55, 55);
  cursor: pointer;
  padding: 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  text-decoration: underline;
}

@mixin content-10 {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: variables.$body-background;
  max-width: 250px;
  position: absolute;
  border: 1px solid;
  border-radius: 3px;
  font-size: 14px;
}

@mixin dior-more-info {
  background-color: variables.$body-background;
  color: rgb(55, 55, 55);
  cursor: pointer;
  padding: 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  text-decoration: underline;
}

@mixin dior-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: variables.$body-background;
  max-width: 300px;
  position: absolute;
  border: 1px solid;
  border-radius: 3px;
  font-size: 16px;
  left: 1710px;
  top: 650px;
}